<!DOCTYPE html>
<html xmlns:th = "http://thymeLeaf.org"
	  xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate = "layout">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment = "content">
		<div class = "container">
			<div class = "panel panel-primary">
				<div class = "panel-heading">List des Articles</div>
				<div class = "panel-body">
				
					<form th:action ="@{/index}" method = "get">
						<label>keyword</label>
						<input type = "text" name = "keyword" th:value = "${keyword}">
						<button type = "submit" class = "btn btn-primary"> search </button>
					</form>
					
					<br>
					
					<table class = "table" >
						<tr>
							<th>id</th><th>description</th><th>prix</th>
						</tr>
						<tr th:each = "a:${listArticles}">
							<td th:text = "${a.id}"></td>
							<td th:text = "${a.description}"></td>
							<td th:text = "${a.price}"></td>
							<td>
								<a th:href="@{/delete(id=${a.id} , page=${currentPage} , keyword=${keyword})}" class = "btn btn-danger">DELETE</a>
							</td>
							<td>
								<a th:href="@{/update(id=${a.id})}" class = "btn btn-success">UPDATE</a>
							</td>
						</tr>
					</table>
					
					<br>
					<ul class = "nav nav-pills">
						<li th:class = "${currentPage==status.index}?'active':''" th:each= "page,status:${pages}">
							<a th:href="@{/index(page=${status.index} , keyword = ${keyword})}" th:text="${status.index}"></a>
						</li>
					</ul>
				</div>
			</div>
			<div>test refresh</div>
		</div>
	</div>
</body>
</html>