<!DOCTYPE html>
<html xmlns:th = "http://thymeLeaf.org"
	  xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate = "layout">
<head>
<meta charset="ISO-8859-1">
<title>saisir un article</title>
</head>
<body>
	<div layout:fragment = "content">
		<div class = "col-md-4 col-xs-8">
			<div class = "panel panel-primary">
				<div class = "panel-heading">saisir un nouvel article</div>
				<div class = "panel-body">
					<form th:action = "@{/save}" method = "post">
						<div class = "form-group">
							<label class = "control-label">description : </label>
							<input class ="form-control" type = "text" name = "description">
						</div>
						<div class = "form-group">
							<label class = "control-label">price : </label>
							<input class ="form-control" type = "text" name = "price">
						</div>
						<button type = "submit" class = "btn btn-primary">save</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>